.guarantees
    .guarantees__container
        .guarantees__elipse
        .guarantees__top
            .guarantees__column
                img.guarantees__column-img(src="img/man-working.png" alt="man working")
            .guarantees__description
                h2.guarantees__description-title
                    | We complete every projects extra care as customer need
                .guarantees__description-text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Duis at dictum risus, non suscipit arcu.
                    | Quisque aliquam posuere tortor, sit amet convallis nuncoe scelerisque in.
                    | orem ipsum  dolor sit amet, consectetur adipisicing elit.
                    | Labore eius molestiae facere, natus reprehenderit eaque eum, autem ipsam.
                    | Magfini, error.
                    | Tempora odit laborum iure inventore possimus laboriosam qui nam.
                .guarantees__description-button
                    +btn("button_theme-small", "#", "Read more")
        .guarantees__bottom
            .guarantees__description
                h2.guarantees__description-title
                    | We complete every project extra care as customer need
                .guarantees__description-text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Duis at dictum risus, non suscipit arcu.
                    | Quisque aliquam posuere tortor, sit amet convallis nuncoe scelerisque in.
                    | orem ipsum  dolor sit amet, consectetur adipisicing elit.
                    | Labore eius molestiae facere, natus reprehenderit eaque eum, autem ipsam.
                    | Magfini, error.
                    | Tempora odit laborum iure inventore possimus laboriosam qui nam.
                .guarantees__description-button
                    +btn("button_theme-small", "#", "Read more")
            .guarantees__column
                img.guarantees__column-img(src="img/man-working2.png" alt="man working 2")