.team
    .team__container
        .team__elipse
        .team__elipse-right
        h2.team__title
            | Met Our Team
        .team__text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
            | accumsan nisi Ut ut felis congue nisl hendrerit commodo.
        .team__staff
            +card-worker("Vlad Shram","Executive officer")(class="card-worker__avatar_vs")
            +card-worker("Helen Zlykh","UX/UI DESIGNER")(class="card-worker__avatar_hz")
            +card-worker("Tom Sohag","BUSINESS DEVELOPMENT")(class="card-worker__avatar_vn")
            +card-worker("Valery Mou","Head of marketing")(class="card-worker__avatar_vg")


