.service-range
    .service-range__container
        .service-range__elipse
        h2.service-range__title
            | Our Service
        .service-range__description
            | We turn information into actionable insights We work to understand your issues
            | and are driven to ask better questions in the pursuit of making work.
        .service-range__catalog
            +card("Order Management", "Learn more")
                include ../card/Icon-manag.svg
            +card("Social Assistant", "Learn more")(class="card__icon_red")
                include ../card/Icon-assist.svg
            +card("Crypto Platform", "Learn more")(class="card__icon_blue")
                include ../card/Icon-bitcoin.svg
            +card("Smart Trading Modules", "Learn more")(class="card__icon_green")
                include ../card/Icon-checklist.svg
            +card("Analyzer of the News", "Learn more")(class="card__icon_pink")
                include ../card/Icon-graph.svg
            +card("Module of Price Notification", "Learn more")(class="card__icon_purple")
                include ../card/Icon-loupe.svg



