-
    const links = [
        {
            link1: "Service",
            link2: "Order Management",
            link3: "Social Assistant",
            link4: "Crypto Platform",
            link5: "Analyzer of the News",
        },
        {
            link1: "Company",
            link2: "About Us",
            link3: "News",
            link4: "Our trusted partner",
            link5: "New users FAQ",
        },
            {
            link1: "Supports",
            link2: "Help center",
            link3: "Feedbcak",
            link4: "Contact us",
            link5: "Terms conditins",
        },
            {
            link1: "Resources",
            link2: "Download app",
            link3: "Blog",
            link4: "What’s new",
            link5: "Sitemap",
        },
    ]