//Миксины
include components/button/button
include components/card/card
include components/card-worker/card-worker

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Zone.
        link(rel="stylesheet" href="css/style.css")
    body
        include components/header/header
        include components/service-range/service-range
        include components/guarantees/guarantees
        include components/team/team
        include components/subscribe/subscribe
        include components/footer/footer
        script(src="js/script.js")
